<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile</title>
    <link rel="stylesheet" href="../src/css/delivery.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header__logo">
                <a href="./order3.html"><img src="../src/storage/img/Arrow-Left-Delivery.png" alt="Arrow-Left"></a>
                <img src="../src/storage/img/gps-icon.png" alt="GPS">
            </div>
            <div class="header__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15837.955364572648!2d-73.124766!3d7.0691801000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f18ef59f9a1%3A0xffbf118f3e8f20c!2sZona%20Franca%20Santander!5e0!3m2!1ses!2sco!4v1740577354715!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="main__top__header">
                <div></div>
            </div>
            <div class="main__top__text">
                <h1>10 minutes left</h1>
                <p>Delivery to <strong>Jl. Kpg Sutoyo</strong></p>
                <!-- <progress value="70" max="100"></progress> -- Esta es la barra, toca hacerla con Javascript, toca despues -->
            </div>
            <div class="main__top__bar">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="main__middle">
                <div class="main__middle__img">
                    <img src="../src/storage/img/motorbike-delivery.png" alt="Biker deliver">
                </div>
                <div class="main__middle__text">
                    <p>Delivered your order</p>
                    <p>We will deliver your goods to you in the shortes possible time.</p>
                </div>
            </div>
            <div class="main__bottom">
                <div class="main__bottom__info">
                    <div class="main__bottom__img">
                        <img src="../src/storage/img/user-profile.png" alt="Foto de perfil">
                    </div>
                    <div class="main__bottom__text">
                        <p>Brooklyn Simmons</p>
                        <p>Personal Courier</p>
                    </div>
                </div>
                <div class="main__bottom__button">
                    <a href="#"><img src="../src/storage/img/Call-icon.png" alt="Teléfono llamando"></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>