<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/detailitem.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="home.html"><img src="../src/storage/img/Arrow-Left.png" alt="back-arrow"></a>
            <p>Detail</p>
            <img src="../src/storage/img/Heart-icon.png" alt="heart-icon">
        </header>
        <main>
            <img src="../src/storage/img/Image-Coffee-3.png" alt="coffee-image">
            <section class="coffee_atributes">
                <div class="Name_Coffee">
                    <h1>Flat White</h1>
                    <p>Ice/Hot</p>
                        <div class="rating">
                            <img class="star" src="../src/storage/img/yellow-star.png" alt="star-icon">
                            <div class="rating_numbers">
                                <p>4.8</p>
                                <p>(230)</p>
                            </div>
                        </div>
                </div>
            
                <div class="features">
                    <a href="#"><img src="../src/storage/img/motorbikeman-icon.png" alt="motorbikeman-icon"></a>
                    <a href="#"><img src="../src/storage/img/coffee-beans.png" alt="coffee-beans-icon"></a>
                    <a href="#"><img src="../src/storage/img/milk-icon.png" alt="milk-icon"></a>
                </div>   
            </section>
            <hr>
            <section class="section_description">
                <p>Description</p>
                <details>
                    <summary>A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee 
                        and  85ml of fresh milk the fo</summary>
                        <p>am of which is created by steaming the milk to a creamy consistency. </p>
                </details>
            </section>
            <section class="size_section">
                <p>Size</p> 
                <div class="size_selector">
                    <a href="#">S</a>
                    <a href="#">M</a>
                    <a href="#">L</a>
                </div>
            </section>
        </main>
        <footer>
            <div class="price">
                <p>Price</p>
                <p>$ 3.53</p>
            </div>
            <a href="./order2.html">Buy Now</a>
        </footer>
    </body>
</html>