<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Item</title>
    <link rel="stylesheet" href="../src/css/detailitem.css">
    </head>
<body>
    <header>
        <a><img src="../src/storage/img/Arrow-Left.png" alt="back-arrow"></a>
        <p>Detail</p>
        <img src="../src/storage/img/Heart-icon.png" alt="heart-icon">
    </header>

    <main>            
        <img src="../src/storage/img/image-coffee-2.png" alt="coffee-image">
        <div class="Name_Coffee">
            <h1>Coffee Mocha</h1>
            <p>Ice/Hot</p>
                <div class="rating">
                    <img class="star" src="../src/storage/img/yellow-star.png" alt="star-icon">
                    <p>4.8</p>
                    <p>(230)</p>
                </div>
        </div>

        <div class="features">
            <img src="../src/storage/img/motorbikeman-icon.png" alt="motorbikeman-icon">
            <img src="../src/storage/img/coffee-beans.png" alt="coffee-beans-icon">
            <img src="../src/storage/img/milk-icon.png" alt="milk-icon">
        </div>
        <hr>

        <section class="section_description">
            <p>Description</p>
            <summary>A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee 
                and 85 ml of fresh milk, the foam of which is created by steaming the milk to a creamy consistency. 
            </summary>
    </section>

        <footer class="size_section">
            <p>Size</p>
            <ul>
                <li>S</li>
                <li>M</li>
                <li>L</li>
            </ul>
        </section>

        <footer>
            <div class="price">
                <p>Price</p>
                <p>$ 4.53</p>
            </div>
            <a href="#">Buy Now</a>
        </footer>
    
    </main>
</body>
</html>