<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detail Item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/detailitem.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="home.html"><img src="../src/storage/img/Arrow-Left.png" alt="back-arrow"></a>
            <p>Detail</p>
            <img src="../src/storage/img/Heart-icon.png" alt="heart-icon">
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>