<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/home.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="location_d">
                <p class="location_p">Location</p>
                <div class="location_a">
                    <p>Bilzen, Tanjungbalai</p>
                    <img src="../src/storage/img/Icon.svg" alt="Icono de flecha hacia abajo">
                </div>
            </div>
            <form class="form__busqueda" action="?" method="get">
                <div class="input__logo">
                    <input type="text" name="search" placeholder="Search">
                </div>
                <div class="input__filtro">
                    <input type="submit" value="">
                </div>
            </form>
        </header>
        <main>
            <section class="banner">
                <div class="description">
                    <a href="#">Promo</a>
                    <p>Buy one get one FREE</p>
                </div>
            </section>
        </main>
    </body>
</html>