<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/home.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="location_d">
                <p class="location_p">Location</p>
                <div class="location_a">
                    <p>Bilzen, Tanjungbalai</p>
                    <img src="../src/storage/img/Icon.svg" alt="Icono de flecha hacia abajo">
                </div>
            </div>
            <form class="form__busqueda" action="?" method="get">
                <div class="input__logo">
                    <input type="text" name="search" placeholder="Search">
                </div>
                <div class="input__filtro">
                    <input type="submit" value="">
                </div>
            </form>
            <div class="banner">
                <div class="description">
                    <a href="#">Promo</a>
                    <div class="description__text">
                        <div class="description__text__box1">
                            <p>Buy one get</p>
                            <img src="../src/storage/img/form1Home.svg" alt="Barra 1.">
                        </div>
                        <div class="description__text__box2">
                            <p>on Free</p>
                            <img src="../src/storage/img/form2Home.svg" alt="Barra 2.">
                        </div>
                    </div>
            </div>
            </div>
        </header>
        <main>
            <section>
                    <ul class="nav__categoria">
                        <li class="select"><a href="#">All Coffee</a></li>
                        <li><a href="#">Machiato</a></li>
                        <li><a href="#">Latte</a></li>
                        <li><a href="#">Americano</a></li>
                    </ul>
            </section>
            <section>
                <div class="card-container">
                    <div class="card">
                        <img src="../src/storage/img/Image-Coffee-2.png" alt="" class="card-image">
                        <div class="card-content">
                            <h3 class="card-title">Caffe Mocha</h3>
                            <p class="card-text">Deep Foam</p>
                        </div>
                        <div class="card-buttom">
                            <a href="" class="card-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>