<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/home.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="location_d">
                <p class="location_p">Location</p>
                <div class="location_a">
                    <p>Bilzen, Tanjungbalai</p>
                    <img src="../src/storage/img/Icon.svg" alt="Icono de flecha hacia abajo">
                </div>
            </div>
            <form class="form__busqueda" action="?" method="get">
                <div class="input__logo">
                    <input type="text" name="search" placeholder="Search">
                </div>
                <div class="input__filtro">
                    <input type="submit" value="">
                </div>
            </form>
                <div class="banner">
                    <div class="description">
                        <a href="#">Promo</a>
                        <div class="description__text">
                            <div class="description__text__box1">
                                <p>Buy one get</p>
                                <img src="../src/storage/img/form1Home.svg" alt="Barra 1.">
                            </div>
                            <div class="description__text__box2">
                                <p>on Free</p>
                                <img src="../src/storage/img/form2Home.svg" alt="Barra 2.">
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <main>
            <section>
                    <ul class="nav__categoria">
                        <li class="select"><a href="#">All Coffee</a></li>
                        <li><a href="#">Machiato</a></li>
                        <li><a href="#">Latte</a></li>
                        <li><a href="#">Americano</a></li>
                    </ul>
            </section>
            <section class="card-container">
                <div class="cards-1">
                    <div class="card">
                        <div class="card-image1">
                            <div class="context-image">
                                <img src="../src/storage/img/star.svg" alt="Star icon">
                                <p>4.8</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>Caffe Mocha</h3>
                            <p>Deep Foam</p>
                        </div>
                        <div class="card-buttom">
                            <p>$ 4.53</p>
                            <div class="icon-buttom">
                                <img src="../src/storage/img/add.svg" alt="Plus icon">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image4">
                            <div class="context-image">
                                <img src="../src/storage/img/star.svg" alt="Star icon">
                                <p>4.8</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>Mocha Fusi</h3>
                            <p>Ice/Hot</p>
                        </div>
                        <div class="card-buttom">
                            <p>$ 4.53</p>
                            <div class="icon-buttom">
                                <img src="../src/storage/img/add.svg" alt="Plus icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards-2">
                    <div class="card">
                        <div class="card-image2 ">
                            <div class="context-image">
                                <img src="../src/storage/img/star.svg" alt="Star icon">
                                <p>4.8</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>Flat White</h3>
                            <p>Espresso</p>
                        </div>
                        <div class="card-buttom">
                            <p>$ 4.53</p>
                            <div class="icon-buttom">
                                <img src="../src/storage/img/add.svg" alt="Plus icon">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image3">
                            <div class="context-image">
                                <img src="../src/storage/img/star.svg" alt="Star icon">
                                <p>4.8</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>Caffe Panna</h3>
                            <p>Ice/Hot</p>
                        </div>
                        <div class="card-buttom">
                            <p>$ 4.53</p>
                            <div class="icon-buttom">
                                <img src="../src/storage/img/add.svg" alt="Plus icon">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="div__izquierdo">
                <a href="#"><img src="../src/storage/img/Home.svg"></a>
                <a href="#"><img src="../src/storage/img/icon01.svg"></a>
            </div>
            <div class="div__derecho">
                <a href="#"><img src="../src/storage/img/Bag.svg"></a>
                <a href="#"><img src="../src/storage/img/Icon11.svg"></a>
            </div>
        </footer>
    </body>
</html>