<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Order</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/order.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="./detailitem.html"><img src="../src/storage/img/arrow-left.svg" alt="regresar"></a>
            <h1>Order</h1>
        </header>
        <main>
            <section class="entrega-contenedor">
                <nav class="entrega">
                    <div class="deliver"><a href="#">Deliver</a></div>
                    <div class="pick-up"><a href="./delivery.html">Pick Up</a></div>
                </nav>
            </section>

            <section class="dirrecion">
                <h1 class="delivery-text">Delivery Adress</h1>
                <div class="location-text">
                    <h3 class="location">Jl. Kpg Sutoyo</h3>
                    <p class="specific-location">Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</p>
                </div>
                
                <div class="edit-and-addNote">
                    <a class="edit-delivery"><img src="../src/storage/img/Edit Square.png" alt="edit"><p>Edit Adress</p></a>
                    <a class="add-note"><img src="../src/storage/img/Document.png" alt="note"> <p>Add Note</p></a>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>