<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../src/css/order.css">
</head>
<body>
    <header>
        <a href="#"><img src="../src/storage/img/arrow-left.svg" alt="regresar"></a>
        <h1>Order</h1>
    </header>

    <main>
        <section class="entrega-contenedor">
            <nav class="entrega">
                <div class="deliver"><a href="#">Deliver</a></div>
                <div class="pick-up"><a href="#">Pick Up</a></div>
            </nav>
        </section>

        
        <section class="dirrecion">
            <h1 class="delivery-text">Delivery Adress</h1>
            <div class="location-text">
                <h3 class="location">Jl. Kpg Sutoyo</h3>
                <p class="specific-location">Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</p>
            </div>
            
            <div class="edit-and-addNote">
                <a class="edit-delivery"><img src="../src/storage/img/Edit Square.png" alt="edit"><p>Edit Adress</p></a>
                <a class="add-note"><img src="../src/storage/img/Document.png" alt="note"> <p>Add Note</p></a>
            </div>
        </section>


        <div class="line-1"><img src="../src/storage/img/Line.png" alt=""></div>


        <section class="detalles-pedido">
            <div class="detail">
                <img src="../src/storage/img/Image-Coffee-2.png" alt="cafe">
            </div>
            <div class="detail-text">
                <h1 class="tittle">Caffe Mocha</h1>
                <p class="detail-content">Deep Foam</p>
            </div>

            <div class="add-item">
                <img src="../src/storage/img/Icon-less.png" alt="menos">
                <h1>1</h1>
                <img src="../src/storage/img/Icon-plus.png" alt="mas">
            </div>
        </section>

        <div class="line-2"><img src="../src/storage/img/line-2.png" alt=""></div>


        <section class="descuento">
            <div class="text">
                <div class="descuento-img"><img src="../src/storage/img/discount.svg" alt="descuento" ></div>
                <p>1 Discount is Applies</p>
                <div class="flecha-derecha-img"><img src="../src/storage/img/arrow-right.svg" alt="flecha-derecha"></div>
            </div>
        </section>


        <section class="total-pedido">
            <h1 class="suma-de-pedido">Payment Summary</h1>

                <div class="content-delivery">

                    <div class="price">
                        <p>Price</p>
                        <h1>$4.53</h1>
                    </div>

                    <div class="delivery">
                        <p>Delivery Fee</p>
                        <div class="price-delivery">
                        <h1>$ 2.0</h1>
                        <h1>$ 1.0</h1>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>
    </main>

    <footer>
        <section class="metodo-pago">
            <div class="wallet">
                <img src="../src/storage/img/Wallet.png" alt="Wallet">
                    <div class="content-text">
                        <h1>Cash/Wallet</h1>
                        <h3>$ 5.53</h1>
                    </div>
                <img src="../src/storage/img/Option-payment.svg" class="imagen-icono"> 
            </div>
        </section>

        <div class="finish-buy">
            <button>Order</button>
        </div>

    </footer>
</body>
</html>