<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Order</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../src/css/order.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="./detailitem.html"><img src="../src/storage/img/arrow-left.svg" alt="regresar"></a>
            <h1>Order</h1>
        </header>
        <main>
            <section class="entrega-contenedor">
                <nav class="entrega">
                    <div class="deliver"><a href="#">Deliver</a></div>
                    <div class="pick-up"><a href="./delivery.html">Pick Up</a></div>
                </nav>
            </section>
        </main>
        <footer></footer>
    </body>
</html>