<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../src/css/order.css">
</head>
<body>
    <header>
        <a href="#"><img src="../src/storage/img/arrow-left.svg" alt="regresar"></a>
        <h1>Order</h1>
    </header>

    <main>
        <nav class="entrega">
            <button class="Deliver"><a href="#">Deliver</a></button>
            <button class="Pick-Up"><a href="#">Pick Up</a></button>
        </nav>

        
        <section class="dirrecion">
            <h1 class="delivery-text">Delivery Adress</h1>
            <h3 class="location">Jl. Kpg Sutoyo</h3>
            <h4 class="specific-location">Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</h4>
            
            <div class="edit-and-addNote">
                <button class="edit-delivery"><img src="../src/storage/img/Edit Square.png" alt="edit"> <p>Edit Adress</p></button>
                <button class="add-note"><img src="../src/storage/img/Document.png" alt="note"> <p>Add Note</p></button>
            </div>
        </section>


        <div class="line"><img src="../src/storage/img/Line.png" alt=""></div>


        <section class="detalles-pedido">
            <div class="detail">
                <img src="../src/storage/img/Image-Coffee-2.png" alt="cafe">
                <h1>Caffe Mocha</h1>
                <p>Deep Foam</p>
            </div>

            <div class="add-item">
                <img src="../src/storage/img/Icon-less.png" alt="menos">
                <h1>1</h1>
                <img src="../src/storage/img/Icon-plus.png" alt="mas">
            </div>
        </section>

        <div class="line"><img src="../src/storage/img/Line.png" alt=""></div>


        <section class="descuento">
            <div class="text">
                <img src="../src/storage/img/Discount-icon.png" alt="descuento">
                <h1>1 Discount is Applies</h1>
                <img src="../src/storage/img/Arrow-Right.png" alt="flecha-derecha">
            </div>
        </section>


        <section class="total-pedido">
            <h1>Payment Summary</h1>

            <div class="detalles">

                <div class="price">
                    <h1>Price</h1>
                    <h1>$ 4.53</h1>
                </div>

                <div class="delivery">
                    <h1>Delivery Fee</h1>
                    <h1>$ 2.0</h1>
                    <h1>$ 1.0</h1>
                </div>
            
            </div>
        </section>
    </main>

    <footer>
        <section class="metodo-pago">
            <div class="wallet">
                <img src="../src/storage/img/Wallet.png" alt="Wallet">
                <h1>Cash/Wallet</h1>
                <h3>$ 5.53</h1>
            </div>
            <div class="option-payment">
               <img src="../src/storage/img/Arrow-Down.png" alt=""> 
            </div>
            <div class="button-order">
                <h1>Order</h1>
            </div>
        </section>
    </footer>
</body>
</html>