@import url(../css/variables.css);

/**************** Header ******************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    background: linear-gradient(180deg, #111111 0%, #313131 100%);
    width: 100%;
    height: 280px;
}
/*********************Location*****************************/
.location_d{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px 190px 24px 24px;
}
.location_p{
    font-family: "Sora-Regular";
    font-size: 12px;
    color: var(--color-6);
}
.location_a{
    display: flex;
    flex-direction: row;
    width: 161px;
    height: 21px;
    gap: 4px;
}
.location_a p{
    font-family: "Sora-SemiBold";
    font-size: 14px;
    color: var(--color-7);
}
/**************************************************/
/**************** Form Busqueda ******************/
.form__busqueda {
    padding: 0px 24px 0px 24px;
    overflow: hidden;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.input__logo::before {
    content: url(../storage/img/Search-icon.png);
    position: absolute;
    padding-left: 10px;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    height: 100%;
    font-family: "Sora-Regular";
    font-size: 14px;
    color: var(--color-4);
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 0 10px 0 40px;
    box-shadow: 0px 4px 19px var(--color-shadow-1);
    background-color: var(--color-8);
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-6);
}

.input__filtro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input__filtro::after {
    content: url(../storage/img/Options-icon.png);
    width: 24px;
    height: 24px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 52px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: var(--color-1);
}
/**************** Banner ******************/
.banner{
    margin-top: 70px;
    margin-left: 28px;
    margin-right: 24px;
    margin-bottom: 24px;
    background: url(../storage/img/Banner1.png) no-repeat;
    width: 327px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
}
.description{
    display: flex;
    flex-direction: column;
    width: 204px;
    height: 114px;
    margin: 13px 99px 13px 24px;
}
.banner a{
    font-family: "Sora-SemiBold";
    font-size: 14px;
    color: var(--color-9);
    text-decoration: none;
    width: 60px;
    height: 26px;
    background-color: var(--color-10);
    border-radius: 8px;
    padding: 4px 6px 4px 6px;
}
.description__text{
    margin-top: 8px;
    width: 204px;
    height: 80px;
    position: relative;
}
.description__text__box1 p{
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-9);
    top: 0;
    position: relative; /* Añadimos posición relativa para el texto */
    z-index: 4; /* Aseguramos que el texto esté encima de la caja negra */
}
.description__text__box1 img{
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2;
}
.description__text__box2 p{
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-9);
    top: 0;
    position: relative; /* Añadimos posición relativa para el texto */
    z-index: 4; /* Aseguramos que el texto esté encima de la caja negra */
}
.description__text__box2 img{
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 2;
}
/*************************/
/**************************************************/
/**************** Main **************************/
main{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin: 0 auto;
}
/**************** nav ******************/
.nav__categoria {
    /* background: green; */
    margin: 80px 24px 16px 24px;
    display: flex;
    overflow-x: scroll;
    gap: 14px;
}

.nav__categoria li {
    background: var(--color-11);
    flex: 1;
    list-style: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__categoria li a:nth-child(1){
    width: 87px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__categoria li a:nth-child(2){
    width: 83px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__categoria li a:nth-child(3){
    width: 53px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__categoria li a:nth-child(3){
    width: 94px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__categoria li a {
    /* background: yellow; */
    text-decoration: none;
    color: var(--color-6);
    font-family: "Inter_18pt-Medium";
    font-size: 16px;
}

li.select {
    background: var(--color-1);
}

li.select a {
    color: var(--color-9);
}

li:active {
    background: var(--color-1);
}

li:active a {
    color: var(--color-9);
}

/******************************************/