@import url(variables.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header{
    width: 188px;
    height: 44px;
    margin-top: 20px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    font-family: "Sora-SemiBold";
}

header a{
    display: flex;
    justify-items: center;
    width: 44px;
    height: 44px;
}

header img{
    margin: 10px;
}

header h1{
    font-size: 16px;
    margin-top: 12.5px;
    margin-left: 95px;
    width: 49px;
    height: 19px;
}