:root{
    --color-1: #C67C4E;
    --color-2: #EDD6C8;
    --color-3: #313131;
    --color-4: #E3E3E3;
    --color-5: #F9F2ED;
    --color-6: #050505;
    --color-7: #FFFFFF;
    --color-8: #A2A2A2;
    --color-9: rgba(255, 255, 255, 0);
    --color-10: rgb(0, 0, 0);
  
}

@font-face {
    font-family:"Sora-Bold" ;
    src: url(../storage/fonts/static/Sora-Bold.ttf);
}
@font-face {
    font-family:"Sora-ExtraBold" ;
    src: url(../storage/fonts/static/Sora-ExtraBold.ttf);
}
@font-face {
    font-family:"Sora-ExtraLight" ;
    src: url(../storage/fonts/static/Sora-ExtraLight.ttf);
}
@font-face {
    font-family:"Sora-Light" ;
    src: url(../storage/fonts/static/Sora-Light.ttf);
}
@font-face {
    font-family:"Sora-Medium" ;
    src: url(../storage/fonts/static/Sora-Medium.ttf);
}
@font-face {
    font-family:"Sora-Regular" ;
    src: url(../storage/fonts/static/Sora-Regular.ttf);
}
@font-face {
    font-family:"Sora-SemiBold" ;
    src: url(../storage/fonts/static/Sora-SemiBold.ttf);
}
@font-face {
    font-family:"Sora-Thin" ;
    src: url(../storage/fonts/static/Sora-Thin.ttf);
}