:root{
    --color-1: #C67C4E;
    --color-2: #EDD6C8;
    --color-3: #313131;
    --color-4: #E3E3E3;
    --color-5: #F9F2ED;
    --color-9: #242424;
    --color-10: #A2A2A2;
    --color-11: #2A2A2A;
    --color-12: #F9F9F9;
    --color-13:rgba(237, 237, 237, 0.35);
    --color-14:#FFFFFF;
    --color-15:#909090;
    --color-16:#EDEDED;
    --color-17:linear-gradient(0deg, rgba(237,237,237,0.35) 0%, rgba(255,255,255,1) 100%);
}

@font-face {
    font-family:"Sora-Bold" ;
    src: url(../storage/fonts/static/Sora-Bold.ttf);
}
@font-face {
    font-family:"Sora-ExtraBold" ;
    src: url(../storage/fonts/static/Sora-ExtraBold.ttf);
}
@font-face {
    font-family:"Sora-ExtraLight" ;
    src: url(../storage/fonts/static/Sora-ExtraLight.ttf);
}
@font-face {
    font-family:"Sora-Light" ;
    src: url(../storage/fonts/static/Sora-Light.ttf);
}
@font-face {
    font-family:"Sora-Medium" ;
    src: url(../storage/fonts/static/Sora-Medium.ttf);
}
@font-face {
    font-family:"Sora-Regular" ;
    src: url(../storage/fonts/static/Sora-Regular.ttf);
}
@font-face {
    font-family:"Sora-SemiBold" ;
    src: url(../storage/fonts/static/Sora-SemiBold.ttf);
}
@font-face {
    font-family:"Sora-Thin" ;
    src: url(../storage/fonts/static/Sora-Thin.ttf);
}